* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(96.33deg,rgba(227, 224, 207, 0.26) 2.57%,rgba(248, 242, 237, 0.247) 47.57%,rgba(230, 224, 213, 0.356) 92.58%),#d5c8bc69;
}

nav.menu {
  border-bottom: #F5A58A solid 3px;
  background-color: rgb(51, 19, 19);
}

.menu {
  align-items: center;
  display: flex;
  font-size: 22px;
  height: 72px;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
}


.menu h1 {
  align-self: center;
  font-size: 40px;
  color: #f1632f;
  margin-left: 100px;
}

.menu h1 span {
  color: rgb(255, 255, 255);
}

.menu li a {
  color: white;
  margin-right: 26px;
  text-decoration: none;
}

.menu li:last-child {
  margin-right: 100px;
}

.container {
  margin: 0 auto;
  width: 84%;
  display: flex;
  justify-content: center;
}

.fotos {
  display: flex;
  justify-content: space-between ;
}


.picture {
  background-color: black;
  width: 380px;
  height: 380px;
  border: solid 1px white;
}


.picture1 {
  background-color: rgb(0, 0, 0);
  width: 50%;
  height: 500px;
  border: solid 1px white;
}


.section {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.sessao {
  justify-content: space-around;
  padding: 12px;
}

.sessao ul {
  list-style: none;
  font-size: 20px;
  
}

.sessao ul li a {
  text-decoration: none;
  color: #f37247;
}

.sessao ul li a:hover {
  text-decoration: none;
  color: #ff4800;
}

.container .social-media ul {
  display: flex;
  justify-content: center;
}

.container .social-media ul li {
  margin: 0px 15px 0px 15px;
}


.container .social-media ul li i {
  
}

.sessao p {
  font-size: 36px;
  margin-bottom: 12px;
}

.logo {
  font-size: 62px;
  padding: 36px;
}

 div.doces {
  font-size: 32px;
  padding: 24px;
}

picture.carrosel img{
  width: 100%;
  height: 450px;
  background-color: rgb(39, 39, 124);
}